
body {
    background: linear-gradient(black,hsl(7,98%,56%));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
.container { 
    display: flex;
    flex-direction: column;
    width: 754px;
    height: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.inlogg {
    display: flex;
    color: aliceblue;
    height: 28px;
    width: 284px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin: 95px;

}
.inlogg h1 {
    font-size: 27px;
}
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.inputs {
    color: aliceblue;
    height: 150px;
    width: 284px;
    justify-self: center;
    align-self: center;
}
.user{
    width: 284px;
    position: relative;
    
}
.pass{
    position: relative;
    width: 284px;
    margin-top: 10px;
}
input[type="username"] { 
    width: 230px;
    margin: 0px 0px;  
    padding:  3px 24px; 
} 
input[type="password"]{
    border-radius: 3px;
    width: 230px;
    padding:  3px 24px;    
}
.user i {
    position: absolute;
    left: 5px;
    top: 4px;
    color: rgb(188, 188, 188);
}
.pass i {
    position: absolute;
    left: 5px;
    top: 4px;
    color: rgb(188, 188, 188);
}
.checkandforget{
    display: flex;
    flex-direction: row;
    height: 34px;
    width: 283px;
    align-items: center;
    justify-content: space-between;
    
}
.remember-me {
    font-size: 10px;
}
.remember-me input[type="checkbox"] {
    transform: translateY(2.5px);
}
a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}
a:hover {
    color: aquamarine;
}
.login-button {
    margin-top: 10px;
    color: rgb(254, 249, 249);
    background: rgb(0, 0, 0);
    border-radius: 3px;
    padding: 4px;
    text-align: center;
}

.or {
    color: aliceblue;
    height: 150px;
    width: 184px;
    display: flex;
}
.or h2 {
    margin: auto;
    align-self: center;
    font-size: 15px;
}
.buttons {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    height: 150px;
    width: 284px;
    align-items: center;
    justify-content: center;
}
.facebook {
    width: 280px;
    margin-top: 10px;
    color: rgb(251, 249, 249);
    background: hsl(216,77%,60%);
    border-radius: 3px;
    padding: 4px;
    text-align: center;
}
.google {
    width: 280px;
    margin-top: 10px;
    color: black;
    background: aliceblue;
    border-radius: 3px;
    padding: 4px;
    text-align: center;
}

footer {
    background: hsl(0,3%,31%);
    width: 100%;
    position: fixed;
    bottom:0%;
    left: 0%;
    
    color: aliceblue;
    font-size: 10px;
}
p.footer-p {
    margin-left: 38px;
}
@media (max-width :800px) {
    main {
        flex-direction: column;
        height: 350px;
        justify-content: flex-start;
    }
    .container {
        height: auto;
    }
    .or {
        height: 40px;
    }
    .inlogg {
        margin: 10px;
    }
    .buttons {
        height: auto;
    }
}

