header {
    height: 80px;
    background: darkgreen;
  }
  
  main {
    height: 140px;
    flex-basis: 120px;
    background: darkslateblue;
  }
  
  aside {
    height: 140px;
    flex-basis: 120px;
    background: firebrick;
  }
  
  footer {
    height: 80px;
    background: goldenrod;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
  }
  