:root {
    --darkest: hsl(232, 20%, 66%);
    --dark: hsl(232, 37%, 66%);
    --light: hsl(232, 37%, 66%);
    --lightest: hsl(232, 37%, 66%);
    --body:  hsl(232, 1%, 76%);
    --width: 60%;
    font-size: 17px;
  }
html{
    padding: 0px;
}
.body{
    background: var(--body);
    font-family: Helvetica, sans-serif, Verdana, sans-serif;
    font-size: 1rem;
    text-align: left;
    margin: 0px;
    padding: 1rem;
    border: 0px;
}
.main {
    width: var(--width);
    margin: auto;
    background: white;
    padding: 1rem;
}
nav {
    font-size: 1rem;
    width: var(--width);
    align-content: center;
    margin: 0rem auto 0rem auto;
    background-color: var(--dark);
    text-align: center;
    padding: 0rem 1rem 0rem 1rem;
}
header {
    width: var(--width);
    align-content: center;
    margin: auto auto 0rem auto;
    background: hsl(232, 37%, 66%);
    font-size: 26px;
    padding: 0rem 1rem 0rem 1rem;
    text-align: center;
}
footer{
    background: white;
    width: var(--width);
    text-align: right;
    margin: auto;
    padding: 1rem;
    font-size: 0.75rem;
    clear: both;
    padding-top: 2em;
    border-top: solid 1px #ccc;
}
article{
    border: 1px solid;
}
.header {
font-size: 1rem;
}
.img-anecdote {
    display: flex;
    border: 3px solid rgb(15, 10, 10);
    padding: 0px;
    margin: 0px
}

#image {
    flex: 1;
    width: 50%;
    margin-right: 10px;
    padding: 0px;
    border: 2px solid red;
}  
#anecdote {
    width: 40%;
    padding: 0px;
    padding-left: 20px;
    border: 2px solid red;
} 
p {margin: 0.2rem;}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
  }
li  {float: left;} 
li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {background-color: hsl(232, 84%, 81%);}

h3{
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
}