:root {
    --darkest: hsl(232, 20%, 66%);
    --dark: hsl(232, 37%, 66%);
    --light: hsl(232, 37%, 66%);
    --lightest: hsl(232, 37%, 66%);
    --body:  hsl(232, 1%, 76%);
    --width: 60%;
  }
html{
    padding: 1px;
}
body{
    background: var(--body);
    font-family: Helvetica, sans-serif, Verdana, sans-serif;
    font-size: small;
    text-align: left;
    margin: 0px;
    padding: 1rem;
    border: 0px;
}
main{
    width: var(--width);
    margin: auto;
    background: white;
    padding: 1rem;
}
nav {
    font-size: 1rem;
    width: var(--width);
    align-content: center;
    margin: auto;
    background-color: var(--dark);
    text-align: center;
    padding: 0rem 1rem 0rem 1rem;
   

}
header {
    width: var(--width);
    align-content: center;
    margin: auto;
    background: hsl(232, 37%, 66%);
    font-size: 26px;
    padding: 1rem;
    text-align: center;
    
}
footer{
    background: white;
    width: var(--width);
    text-align: right;
    margin: auto;
    padding: 1rem;
}
body {
padding: 0 1rem;
}
h1 {
margin-top: 0;
}
/* Modules will scale with document */
.header {
font-size: 1.5rem;
}
.footer {
font-size: 0.75rem;
}
.sidebar {
font-size: 0.85rem;
}

/* Type will scale with modules */
h1 {
font-size: 3em;
}
h2 {
font-size: 2.5em;
}
h3 {
font-size: 2em;
}

/* layout */

.content {
float: left;
width: 70%;
}

.sidebar {
float: right;
width: 25%;
}

.footer {
clear: both;
padding-top: 2em;
border-top: solid 1px #ccc;
}

aside {
    width: 45%;
    float: right;
    display: inline;
    background: hsl(232, 37%, 66%);
    margin: 20px;
}
p {margin: 1rem;}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
  }
li  {float: left;} 
li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {background-color: hsl(232, 84%, 81%);}