h2 span {
    color: red;
  }
  
  .box {
    border: 2px solid red;
  }
  
  .box.big {
    position: relative;
    display: block;
    min-height: 600px;
    background: darkslategray;
    padding: 10px 20px;
    /* padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */
  }
  
  .box.small {
    height: 200px;
    width: 200px;
    background: deepskyblue;
    margin: 40px 40px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .box.tiny {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 0 0 10px;
    background: darkgreen;
  }
  
  .box.small.one {
    background: orange;
    position: absolute;
    bottom: 40px;
    right: 10px;
    left: 10px
    ;
  }
  .box.small.one:hover {
    right: 0px;
    left: 0px;
    transition: 1s;
  }
  .box.small.one::before {
    right: 0px;
    left: 100px;
    background: gray !important;
    transition: 1s;
  }
  